In [1]:
# Import required packages
import pandas as pd
import numpy as np

In [2]:
# Read the wikipedia page into pandas
table = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [4]:
# Identify the table on the wikipedia page that is of interest
print(table[0])

    Postal Code           Borough  \
0           M1A      Not assigned
1           M2A      Not assigned
2           M3A        North York
3           M4A        North York
4           M5A  Downtown Toronto
..          ...               ...
175         M5Z      Not assigned
176         M6Z      Not assigned
177         M7Z      Not assigned
178         M8Z         Etobicoke
179         M9Z      Not assigned

                                         Neighbourhood
0                                         Not assigned
1                                         Not assigned
2                                            Parkwoods
3                                     Victoria Village
4                            Regent Park, Harbourfront
..                                                 ...
175                                       Not assigned
176                                       Not assigned
177                                       Not assigned
178  Mimico NW, The Queensway West, South of Bloor,...
179                                       Not assigned

[180 rows x 3 columns]

In [5]:
# Define the wikipedia table as a pandas dataframe and view the first 5 rows
df=table[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
# Check the datatypes of the columns
df.dtypes

Postal Code      object
Borough          object
Neighbourhood    object
dtype: object

In [7]:
# Get a sense of the data including the number of rows and number of unique values
df.describe(include='all')

       Postal Code       Borough Neighbourhood
count          180           180           180
unique         180            11           100
top            M2M  Not assigned  Not assigned
freq             1            77            77

In [9]:
# Drop cells where borough is 'Not assigned' and then check the number of rows and unique values
df = df[df.Borough != 'Not assigned']
df.describe(include='all')

       Postal Code     Borough Neighbourhood
count          103         103           103
unique         103          10            99
top            M2R  North York     Downsview
freq             1          24             4

In [10]:
# Visual of the data, check that postal code is unique and separated by a comma
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [11]:
# Idenfify if there are rows where Neighbourhood is Not Assigned
df['Neighbourhood'].value_counts()

Downsview                                      4
Don Mills                                      2
Roselawn                                       1
Kennedy Park, Ionview, East Birchmount Park    1
Hillcrest Village                              1
                                              ..
Canada Post Gateway Processing Centre          1
Bedford Park, Lawrence Manor East              1
Northwood Park, York University                1
Toronto Dominion Centre, Design Exchange       1
Lawrence Manor, Lawrence Heights               1
Name: Neighbourhood, Length: 99, dtype: int64

In [12]:
# Assignment request to confirm number of rows of data using df.shape command
df.shape

(103, 3)